/bin/*
Standard/bin/standard/chapter01/Start.class
Standard/bin/standard/chapter02/PrintfEx1.class
Standard/bin/standard/chapter02/StringEx.class
Standard/bin/standard/chapter02/VarEx1.class
Standard/bin/standard/chapter02/VarEx2.class
